= render 'layouts/nav'

-if @query
  %h2= "Tickets matching '#{@query}'"
  =button_to tickets_path, class: "btn btn-info", method: :get do
    %span.glyphicon.glyphicon-remove
    Clear filter and show all tickets
-else
  %h2 All Tickets

-if @tickets.empty?
  %h3= "No matches"
-else
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Name
        %th Email
        %th Checked In
        %th
    -@tickets.each do |ticket|
      %tr
        %th=ticket.id
        %td=ticket.pseudonym || ticket.name
        %td=ticket.email
        %td
          -if ticket.checked_in_at
            %span.glyphicon.glyphicon-ok
        %td
          =link_to "Details", ticket
