= render 'layouts/nav'

%h2= "Ticket ##{@ticket.booking_id} (#{@ticket.id})"
.well
  .row
    .col-md-2
      %strong Booking ID
    .col-md-3
      =@ticket.booking_id
  .row
    .col-md-2
      %strong Pseudonym
    .col-md-3
      =@ticket.pseudonym
  .row
    .col-md-2
      %strong Name
    .col-md-3
      =@ticket.name
  .row
    .col-md-2
      %strong Email
    .col-md-3
      =@ticket.email
  .row
    .col-md-2
      %strong Password
    .col-md-3
      =@ticket.password
.well
  .row
    .col-md-2
      %strong Payment
    .col-md-3
      .row
        .col-md-6
          -if @ticket.price?
            =@ticket.price
            EUR
        .col-md-4
          -if @ticket.paid?
            %span.glyphicon.glyphicon-ok
          -else
            %span.label.label-danger Not Paid
.well
  .row
    -if @ticket.checked_in_at?
      .col-md-2
        %strong Checked In
      .col-md-3
        .row
          .col-md-6
            =l @ticket.checked_in_at, format: :short
          .col-md-4
            =button_to "Check Out", ticket_check_out_path(@ticket), class: "btn btn-default btn-xs"
    -else
      .col-md-5
        =button_to "Check In Now", ticket_check_in_path(@ticket), class: "btn btn-warning btn-lg"
  .row
    .col-md-12

.well
  =form_for @ticket do |f|
    .row
      .col-md-2
        %strong Notes
      .col-md-3
        .form-group
          =f.text_area :notes, size: "200x10", class: "form-control"
          %br
          =f.submit "Save", class: "btn btn-primary btn-default"

%hr
=link_to tickets_path, role: "button" do
  %span.glyphicon.glyphicon-arrow-left
  All Tickets
