%h2= "Ticket ##{@ticket.id}"
.well
  .row
    .col-md-2
      %strong Pseudonym
    .col-md-3
      =@ticket.pseudonym
  .row
    .col-md-2
      %strong Name
    .col-md-3
      =@ticket.name
  .row
    .col-md-2
      %strong Email
    .col-md-3
      =@ticket.email
  .row
    .col-md-2
      %strong Password
    .col-md-3
      =@ticket.password
.well
  .row
    .col-md-2
      %strong Payment
    .col-md-3
      -if @ticket.price?
        =@ticket.price
        EUR
      -if @ticket.paid?
        %span.glyphicon.glyphicon-ok
      -else
        %span.label.label-danger Not Paid
.well
  .row
    -if @ticket.checked_in_at?
      .col-md-2
        %strong Checked In
      .col-md-3
        %h4
          %span.label.label-success.label-lg
            =l @ticket.checked_in_at, format: :short
            %span.glyphicon.glyphicon-ok
        =button_to "Check Out", ticket_check_out_path(@ticket), class: "btn btn-default"
    -else
      .col-md-5
        =button_to "Check In Now", ticket_check_in_path(@ticket), class: "btn btn-warning btn-lg"
  .row
    .col-md-12

%hr
=link_to tickets_path, role: "button" do
  %span.glyphicon.glyphicon-arrow-left
  All Tickets
