# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 119210dbd88d29d50fb45eec05ef128d1fb157433a3e297465e7fd6083d1ccbaef55a2de83ec5d69d570f6463391f1413523f9fc8740b0fe3c43e6bab08e6667

test:
  secret_key_base: 68eb0ebf71133c8f350c7f6218b3eef3712d9519cc7c865416ebf7b2950bf7e657aad6a7b3600f32bcd0790a6385c7269ef6052ae2a55355763a2bcb5c7708c5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= Settings.secret_key_base %>
