%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{:href => "#{root_path}"} #{Settings.brand_name}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %form.navbar-form.navbar-left{:role => "search"}
            .form-group
              %input.form-control{:name => "query", :placeholder => "Search", :type => "text"}
            %button.btn.btn-default{:type => "submit"} Submit

      %ul.nav.navbar-nav.navbar-right
        %li
          %p.navbar-text
            #{Ticket.checked_in.count} checked in total

        %li
          %p.navbar-text
            #{Ticket.checked_in_today.count} checked in today
